.payment-page {
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(rgba(37, 99, 235, 0.1), rgba(37, 99, 235, 0.05));
  color: aliceblue;
}

.payment-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

.payment-method-cont {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
}

.payment-method-cont h2 {
  padding: 0;
}

.method-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #999999;
  cursor: pointer;
}

.method-button.selected {
  border-color: #007bff;
  background: #333;
}

/* .pay-button {
  width: 100%;
  padding: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 2rem;
} */

.security-badges {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  background: #333;
  border-radius: 8px;
}

.payment-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  /* grid-template-columns: 1fr 1.5fr; */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.payment-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}

/* .booking-summary {

} */

.summary-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-breakdown {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #dee2e6;
}

.price-breakdown h3 {
  margin-top: 1rem;
  color: #2c3e50;
}

.payment-form-section {
  background: #222429;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.payment-form-section h2 {
  margin-bottom: 2rem;
}

.confirm-payment-button {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.confirm-payment-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .payment-content {
    grid-template-columns: 1fr;
  }
}
